.btn-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-control-1 {
  background-color: #ffffff00;
  border: 0px solid;
}
.custom-control-1 .select__control.css-1s2u09g-control {
  background-color: #ffffff00 !important;
  border: 0px solid;
}

.save {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}
.add-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
.back-img {
  font-size: 20px;
  cursor: pointer;
}
.form-field {
  padding: 0px 27px;
}
.plus {
  display: flex;
  justify-content: flex-end;
}
.flex-icon-1 {
  display: flex;
  gap: 21px;
}

.field-flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.icon-style {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}
.icon-writting {
  display: flex;
  justify-content: flex-end;
}
.coupan-scroll {
  cursor: pointer;
  height: 25vh;
  overflow-y: auto;
}
.label-style {
  font-size: 14px;
  color: var(--black200);
  font-weight: 600;
  padding: 5px 0px;
}

button.close-btn {
  background-color: var(--yellow100) !important;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-radius: 60px;
  width: 100px;
  justify-content: center;
}
.modalsave-btn {
  background-color: var(--blue100) !important;
  /* display: flex; */
  align-items: center;
  gap: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 0.375rem 0.75rem;
  font-weight: 500;
  color: white;
  height: 40px;
  font-size: 14px;
  border-radius: 60px;
  width: 100px;
  justify-content: center;
}
