@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.woff') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins' !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  margin-bottom: 0px !important;
}

* {
  box-sizing: border-box;
}

.error-message {
  color: #be0808;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
}
.layout-style {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.layout-content {
  margin-top: var(--header-height);
  overflow: auto;
  background-color: #f3f7fd !important;
}

.modal-header {
  display: block;
}
/* -------table css------ */
.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  border-radius: 6px;
  background-color: var(--white200);
  width: -webkit-fill-available;
}
.card-table {
  margin: 12px;
}

.customers {
  border-collapse: collapse;
  width: 100%;
}

.customers td {
  border: 1px solid #ddd;
  padding: 0.55rem;
}
.customers tr:hover {
  background-color: rgba(0, 0, 0, 0.095);
}

.customers tr:nth-child(odd) {
  background-color: #f1f5fc;
  white-space: nowrap;
}
.customers tr:nth-child(odd):hover {
  background-color: rgba(0, 0, 0, 0.095);
}

tr.table-heading {
  padding-top: 12px;
  font-size: 18px;
  font-weight: 500;
}
tr.table-data {
  font-size: 16px;
  height: 40px;
}
.icon-flex {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 7px 10px;
  cursor: pointer;
}
.table-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}
.table-name {
  white-space: nowrap;
}
/* -----table end ------  */
/* -----buttonnn--------- */
.sucess-btn {
  background-color: var(--blue100) !important;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 0.375rem 0.75rem;
  font-weight: 500;
  color: white;
  height: 40px;
  border-radius: 60px;
}
/* yellow-btn */
.warn-btn {
  background-color: var(--yellow100) !important;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 0.375rem 0.75rem;
  font-weight: 500;
  color: white;
  height: 40px;
  border-radius: 60px;
}

button.delete-btn {
  background-color: var(--red100) !important;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-radius: 60px;
}

button.warning-btn {
  background-color: var(--red100) !important;
  display: flex;
  align-items: center;
  border: none;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-radius: 60px;
}

button.close-btn {
  background-color: var(--blue100) !important;
  display: flex;
  align-items: center;
  border: none;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-radius: 60px;
}
button.close-btn:active {
  background-color: var(--blue100) !important;
  transform: scale(1.1);
  font-size: 15px;
}
.sucess-btn:hover {
  background-color: var(--blue300) !important;
}
button.delete-btn:hover {
  background-color: var(--red200) !important;
}
button.warning-btn {
  background-color: var(--yellow100) !important;
}

.add-btn {
  margin-bottom: 12px;
  display: flex;
  justify-content: flex-end;
}
.action-btn {
  display: flex;
  gap: 15px;
  justify-content: start;
}
.view-icon {
  background: var(--blue100);
  border-radius: 4px;
  color: var(--white100);
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;

  justify-content: center;
}
.edit-icon {
  background: var(--yellow100);
  border-radius: 4px;
  color: var(--white100);
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  justify-content: center;
  cursor: pointer;
}
.delete-icon {
  background: var(--red100);
  border-radius: 4px;
  color: var(--white100);
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  justify-content: center;
}
.success-icon:active {
  background: var(--green100);
  border-radius: 4px;
  color: var(--white100);
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  justify-content: center;
}
.view-icon:hover {
  transform: scale(1.3);
}
.edit-icon:hover {
  transform: scale(1.3);
}
.delete-icon:hover {
  transform: scale(1.3);
}
.success-icon:hover {
  transform: scale(1.3);
}
.select-all {
  align-items: center;
  gap: 5px;
}

.table-height {
  overflow: auto;
  height: calc(100vh - 288px) !important;
  border: 1px solid var(--gray300);
  cursor: pointer;
  padding: 12px;
}

/* -----buttonnn--------- */
.table-scroll {
  overflow-y: auto;
  height: calc(100vh - 245px) !important;
  border: 1px solid #ede9e9;
  cursor: pointer;
  overflow-x: hidden;
}
.table-scroll-height {
  overflow-y: scroll;
  height: calc(100vh - 288px) !important;
  border: 1px solid var(--gray300);
  cursor: pointer;
}

.table-scroll-question {
  overflow-y: scroll;
  height: calc(100vh - 285px) !important;
  border: 1px solid var(--gray300);
  cursor: pointer;
}
.table-scroll-result {
  overflow-y: scroll;
  height: calc(100vh - 305px) !important;
  border: 1px solid #ede9e9;
  cursor: pointer;
}
.table-scroll-counselling {
  overflow-y: scroll;
  height: calc(100vh - 235px) !important;
  border: 1px solid #ede9e9;
  cursor: pointer;
}
.add-scroll {
  cursor: pointer;
  overflow-y: scroll;
  height: calc(100vh - 113px) !important;
}
.formula-scroll {
  cursor: pointer;
  overflow-y: scroll;
  height: calc(100vh - 180px) !important;
}
.tab-result-table {
  overflow-y: scroll;
  height: calc(100vh - 250px) !important;
  border: 1px solid #ede9e9;
  overflow-x: hidden;
  padding-bottom: 0rem;
  cursor: pointer;
}
.pagination {
  margin-bottom: 3px !important;
}
::-webkit-scrollbar {
  cursor: pointer;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #a3a7a6;
}
.pills-tab li button {
  color: #6c7172;
}

.pills-tab {
  justify-content: center;
}
.form-control:focus {
  box-shadow: none !important;
}
/*---- pegination ----*/
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: var(--yellow100) !important;
  border-color: var(--yellow100) !important;
}
.page-link {
  padding: 0.375rem 0.96rem !important;
  color: #758085;
}
.pagination {
  display: flex;
  justify-content: end;
}
.accordion-button {
  background-color: #ebeef6;
  padding: 5px 1.25rem;
}
/* .accordion-button::after {
  background-image: none;
  display: none;
}
.accordion-button:not(.collapsed)::after {
  background-image: none;
} */

.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
  display: inline-block;
  /* margin-bottom: 10px; */
}

.has-search {
  position: absolute;
  top: 10px;
  color: var(--blue100);

  left: 10px;
  left: auto;
  right: 10px;
}

.icon-box {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.icon-box:focus-visible {
  outline: none;
  border: 1px solid #0894cf73;
}

@media (min-width: 320px) and (max-width: 768px) {
  .layout-style {
    width: -webkit-fill-available;
  }
  ol.cd-breadcrumb h4 {
    font-size: 12px;
  }

  ol.cd-breadcrumb li:first-child {
    display: flex;
  }
  li.current {
    font-size: 12px !important;
    line-height: 30px;
  }
  .search-flex {
    display: block !important;
  }
  .section-btn {
    display: flex;
    justify-content: flex-start !important;
  }
  .add-btn {
    margin-bottom: 12px;
    margin-top: 10px;
    display: block;
  }
  button.sucess-btn {
    background-color: var(--green100);
    display: flex;
    align-items: center;
    gap: 5px;
    width: -webkit-fill-available;
    border: none;
    width: auto;
  }
}

.sidebar-main {
  color: #0894cf;
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: var(--blue100);
  border-radius: 60px;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #6b6c6d;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.sidebar-open {
  width: calc(100vw - 290px) !important;
}

.dashborad-box-icon {
  font-size: 3rem;
}

.text-primary {
  color: var(--blue100) !important;
}

.total-score {
  background: #0894cf;

  height: 95%;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  border-radius: 6px;
  color: white;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 25px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#imagePreview {
  background-image: url(http://i.pravatar.cc/500?img=7);
}
.image-upload-icon {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.card-form__body.card-body {
  background-color: #f6f6f6;
  height: calc(100vh - 200px) !important;
}
.cards {
  box-shadow: 0 10px 25px 0 rgb(50 50 93 / 7%), 0 5px 15px 0 rgb(0 0 0 / 7%);
  background-color: white;
}

/* ---------------------- */

.bg-one {
  background-color: rgb(253 187 56 / 0.5);
  border-color: #fdbb38;
  border-radius: 30px 0px;
}

.bg-two {
  background-color: rgb(25 175 251 / 0.2);
  border-color: #19affb;
  border-radius: 30px 0px;
}
.bg-three {
  background-color: rgb(244 104 65 / 0.2);
  border-color: #f46841;
  border-radius: 30px 0px;
}
.bg-four {
  background-color: rgb(110 107 250 / 0.2);
  border-color: #6e6bfa;
  border-radius: 30px 0px;
}

.bg-one .db-icon {
  background-color: #fdbb38;
}

.db-icon {
  font-size: 25px;
  width: 60px;
  height: 60px;
  padding: 13px 21px;
  border-radius: 10px;
  color: #fff;
  margin-right: 20px;
}
.bg-two .db-icon {
  background-color: #19affb;
  padding: 13px 15px;
}
.bg-three .db-icon {
  background-color: #f46841;
}
.bg-four .db-icon {
  background-color: #6e6bfa;
}

accordion-button::after {
  background-image: none;
  display: none;
}
/* .accordion-button:not(.collapsed)::after {
  background-image: none;
} */

.entites-box {
  cursor: pointer;
  padding: 4px 40px 8px 10px;
}

.select-box-table {
  cursor: pointer;
}

.load-upper {
  background-color: white !important;
  border: 0px solid !important;
  position: absolute;
  right: 15px;
  margin-top: -42px;
  z-index: 11;
}
.badge-success {
  color: #fff;
  background-color: var(--green200);
  width: 75px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-size: 12px;
}
.badge-danger {
  color: #fff;
  background-color: var(--red100);
  width: 75px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-size: 12px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #0b78ab inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.se-resizing-bar.sun-editor-common {
  display: none !important;
}

#react-select-131-listbox {
  z-index: 10;
}

.button-image-remove {
  position: absolute;
  z-index: 1111;
  /* top: -15px; */
  margin-left: 145px;
  background-color: #ffffff;
  border: 0px solid black !important;
  color: black !important;
  border-radius: 50px !important;
  box-shadow: 0px 0px 1px 2px #e3e2e2;
}

.button-image-remove:hover {
  position: absolute;
  z-index: 1;
  /* top: -15px;
  margin-left: 180px; */
  background-color: #ffffff;
  border: 0px solid black !important;
  color: black !important;
  border-radius: 50px !important;
  box-shadow: 0px 0px 1px 2px #e3e2e2;
}

.button-image-removee {
  position: absolute;
  z-index: 1111;
  top: -15px;
  margin-left: 189px;
  background-color: #ffffff;
  border: 0px solid black !important;
  color: black !important;
  border-radius: 50px !important;
  box-shadow: 0px 0px 1px 2px #e3e2e2;
}

.button-image-removee:hover {
  position: absolute;
  z-index: 1;
  /* top: -15px;
  margin-left: 180px; */
  background-color: #ffffff;
  border: 0px solid black !important;
  color: black !important;
  border-radius: 50px !important;
  box-shadow: 0px 0px 1px 2px #e3e2e2;
}

.image-uppar {
  position: relative;
}
/* -----------new----------- */

.parent-section {
  padding: 20px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--blue100) !important;
  font-weight: 600;
}
.animate__animated .animate__fadeInUp {
  -webkit-animation-duration: 1s !important;
  animation-duration: 1s !important;
}

.animate__animated {
  -webkit-animation-duration: 2s !important;
  animation-duration: 2s !important;
}

.main-container {
  /* display: flex; */
  max-height: 100vh;
  overflow: hidden;
  --sidebar-width: 260px;
  --header-height: 35px;
}
.table > thead {
  vertical-align: bottom;
  color: var(--gray200);
}
.css-26l3qy-menu {
  color: black !important;
}
/* End Body */

/*tooltip Box*/
.con-tooltip {
  position: relative;
  border-radius: 9px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

/*tooltip */
.tooltip {
  visibility: hidden;
  z-index: 1;
  opacity: 0.4;
  width: 279%;
  padding: 5px 8px;
  background: #333;
  color: #ffffff;
  position: absolute;
  top: -127%;
  left: -16%;
  width: auto;
  font-size: 10px;
  border-radius: 4px;
  font: 16px;
  transform: translateY(9px);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 3px rgb(56 54 54 / 86%);
  white-space: nowrap;
}

/* tooltip  after*/
.tooltip::after {
  content: ' ';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12.5px 0 12.5px;
  border-color: #333 transparent transparent transparent;
  position: absolute;
  left: 21%;
}

.con-tooltip:hover .tooltip {
  visibility: visible;
  transform: translateY(-10px);
  opacity: 1;
  transition: 0.3s linear;
  animation: odsoky 1s ease-in-out infinite alternate;
}
@keyframes odsoky {
  0% {
    transform: translateY(6px);
  }

  100% {
    transform: translateY(1px);
  }
}

.form-switch.form-switch-lg .form-check-input {
  height: 2rem;
  width: calc(3rem + 0.75rem);
  border-radius: 4rem;
}

.custom-label {
  font-size: 18px;
}

.ql-editor {
  min-height: 200px;
}

#hidebox {
  opacity: 0 !important;
  cursor: auto;
  width: 38px;
  height: 30px;
}

.w-full {
  width: -webkit-fill-available;
}

.sidebar {
  width: 300px;
  flex-shrink: 0;
  background-color: white;
  height: 100%;
  overflow: auto;
  color: black;
}

.sidebar-item {
  padding: 16px;
  display: block;
  transition: background-color 0.15s;
  border-radius: 5px;
  padding-top: 20px;
}
.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.down-arrow {
  display: flex;
  justify-content: space-between;
}

.sidebar-title span i {
  display: inline-block;
  width: 1.5em;
}
.sidebar-title .toggle-btn {
  cursor: pointer;
  transition: transform 0.3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn {
  transform: rotate(180deg);
}
.sidebar-content {
  height: 0;
  overflow: hidden;
}
.sidebar-item.open > .sidebar-content {
  height: auto;
  margin: 0px 0px 0px 24px;
  width: 300px;
  background: #f0f2f8;
  position: relative;
  left: -42px;
  margin-top: 20px;
}

.sidebar-item.plain {
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 500;
  font-size: 20px;
}
.sidebar-item.plain:hover {
  text-decoration: none;
  color: var(--blue100);
}
.sidebar-item.plain i {
  display: inline-block;
  width: 1.5em;
}

.offcanvas-start {
  top: 73px !important;
  width: auto !important;
}

.sidebar-title span {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 20px;
}

.sidebar-item:hover {
  border-radius: 0px;
  background-color: #2c2c2c14;
  color: white;
}

.sidebar-item:hover > .sidebar-title {
  color: var(--blue100);
}

.sidebar-item:hover > .sidebar-title span {
  color: var(--blue100);
}

.b-1 {
  border: 0.5px solid #cccccc;
  cursor: grabbing;
}

.element-add {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 24px;
}
.icon-style {
  display: flex;
  gap: 10px;
}

@media (min-width: 250px) and (max-width: 768px) {
  .search-flex {
    display: block !important;
  }
  .section-btn {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }
  .card-form__body.card-body {
    background-color: #f6f6f6;
    height: auto !important;
  }
  .width-field {
    width: 100% !important;
  }
  .mob-block {
    display: block;
  }
}
.search-flex {
  display: flex;
  justify-content: space-between;
}
.tox-statusbar__branding {
  display: none !important;
}
input[type='checkbox'] {
  width: 20px;
  height: 18px;
  accent-color: #0062a6;
}
button#justify-tab-example-tab-wordtest {
  font-size: 16px;
  padding: 10px 50px;
}

button#justify-tab-example-tab-numbertest {
  font-size: 16px;
  padding: 10px 50px;
}

button#justify-tab-example-tab-imagetest {
  font-size: 16px;
  padding: 10px 50px;
}
button#justify-tab-example-tab-signtest {
  font-size: 16px;
  padding: 10px 50px;
}
button#justify-tab-example-tab-calculationtest {
  font-size: 16px;
  padding: 10px 50px;
}
ul.mb-3.nav.nav-tabs {
  justify-content: center;
}

.cd-breadcrumb li,
.cd-multi-steps li {
  list-style: none;
}
.cd-breadcrumb li > *,
.cd-multi-steps li > * {
  display: inline-block;
  font-size: 20px;
  color: #2c3f4c;
}
.cd-breadcrumb li::after,
.cd-multi-steps li::after {
  display: inline-block;
  content: '>';
  font-size: 24px;
  margin: 0 0.6em;
  color: #0062a6;
}
.cd-breadcrumb {
  padding-left: 0px;
  display: flex;
  margin-bottom: 0px;
}

li.current::after {
  opacity: 0;
}
li.current {
  font-size: 20px;
  line-height: 30px;
}
.css-26l3qy-menu {
  z-index: 1111111 !important;
}
.accordion-item {
  margin-bottom: 10px !important;
}
.width-field {
  width: 23%;
}

.disable {
  cursor: not-allowed;
}

.wrap {
  word-wrap: break-word;
  white-space: normal;
  width: 450px;
  min-width: 270px;
}

.no-record {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.set-color {
  background-color: #0052d4;
}

/* pdf start */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-content {
  font-size: 24px;
  margin: 12px 0px;
}
.big-img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  position: relative;
  width: 100%;
}
.second-img {
  background-repeat: no-repeat;
  background-image: url('https://res.cloudinary.com/dgimekhep/image/upload/v1664349746/Untitled-7_z1zhyl.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  position: relative;
  width: 100%;
}
.third-img {
  background-repeat: no-repeat;
  background-image: url('https://res.cloudinary.com/dgimekhep/image/upload/v1664349746/Untitled-7_z1zhyl.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}
.bg-img {
  background-repeat: no-repeat;
  background-image: url('https://res.cloudinary.com/dgimekhep/image/upload/v1664349746/Untitled-7_z1zhyl.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  position: relative;
  width: 100%;
}
.top-space {
  margin-top: 5rem;
}
.top-space-sec {
  margin-top: 12rem;
}
.left-space {
  margin-left: 9rem;
}
.rela {
  position: relative;
}
.margin {
  margin: 10px 0px;
  font-size: 40px;
}
.margin-text {
  padding: 6px 10px;
  margin: 10px;
  background: red;
  color: #fff;
  border-radius: 7px;
  width: 30%;
  background: linear-gradient(to right, #0071af, #5fa3ca);
  border-radius: 50px;
}
.detail-text {
  padding: 6px 10px;
  margin: 10px;
  color: #000;
  border-radius: 7px;
  width: 70%;
  background: linear-gradient(to right, #c9dae3, #b4c0c7);
  font-family: 'Abyssinica SIL', serif;
  font-style: italic;
  letter-spacing: 2px;
  border-radius: 60px;
}
.heading {
  display: flex;
  justify-content: center;
  font-size: 24px;
}
.heading-pdf {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-top: 30px;
}
.img-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.top-heading {
  margin: 15px 0px;
  font-size: 30px;
  font-size: 35px;
  color: rgb(6 86 176);
}

.text-absolute {
  position: absolute;
  top: 4rem;
  width: 100%;
}
.absolute-text {
  position: absolute;
  top: 0px;
  width: 95%;
}
.logo-text {
  display: flex;
  flex-direction: column;
  width: 87%;
  margin: 0 auto;
  padding-top: 6rem;
}
.analysis-text {
  display: flex;
  flex-direction: column;
  width: 87%;
  margin: 0 auto;
  padding-top: 2rem;
}
.container {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
}

img.logo {
  width: 120px;
  margin: 10px;
}
img.big-logo {
  width: 300px;
}
.logotype {
  position: fixed;
  bottom: 60px;
}

.logo-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fixed {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
  height: 82vh;
  justify-content: flex-end;
}
.text-center {
  color: #fff;
}
h1.text-size {
  font-size: 42px;
  font-weight: 600;
}
.text-white {
  color: #fff;
}
#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
}

.container {
  width: 100%;
  margin: auto;
  position: relative;
}
/* add new latest-css */
.text-space {
  display: flex;
  justify-content: flex-start;
}
.text-style {
  font-size: 25px;
}
.sign-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
}
img.signification-img {
  width: 50%;
}
img.logo {
  width: 120px;
  margin: 10px;
}
.bold-style {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  padding-bottom: 20px;
}
.head-center {
  display: flex;
  justify-content: flex-start;
}
.pdf-table th {
  background-color: #0071ae;
  padding: 0.55rem;
  height: 41px;
  white-space: nowrap;
  color: #fff;
}

.space-number {
  width: 65px !important;
}
.pdf-table {
  border-collapse: collapse;
  width: 100%;
}

.pdf-table td {
  border: 1px solid #ddd;
  padding: 0.55rem;
  color: #000;
  /* width: 40px; */
}
.pdf-result th {
  background-color: #0071ae;
  padding: 0.55rem;
  height: 41px;
  white-space: nowrap;
  color: #fff;
}
.pdf-result td {
  border: 1px solid #ddd;
  padding: 0.55rem;
  color: #000;
  width: 40px;
}
table.pdf-result {
  width: 100%;
}
.table-width {
  width: 100%;
}
.full-width {
  width: 100%;
  display: flex;
}
.half-width {
  width: 50%;
  margin-left: 20px;
}
.table-flex {
  display: flex;
  gap: 20px;
}
.table-stylee {
  display: flex;
  width: 100%;
  gap: 20px;
}
.table-nogap {
  width: 100%;
  display: flex;
}
.table-engineering {
  width: 100%;
}
.strength {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 63px;
}
.str-text {
  font-size: 80px;
  color: #000;
}
img.reading-img {
  width: 65%;
  height: 290px;
}

.strength-top {
  margin-top: 6rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.strength-next {
  margin-top: 3rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.position-style {
  position: relative;
}
.management-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 0rem;
}
.sport-heading {
  margin: 15px 0px 0px 0px;
  font-size: 30px;
  font-size: 35px;
  color: rgb(6 86 176);
  display: flex;
  justify-content: center;
}
.first-skill-percent {
  height: 6rem;
  border-radius: 6px;
  background: #20002c;
  background: linear-gradient(to right, #cbb4d4, #20002c);
  color: #fff;
  display: flex;
  align-items: center;
  width: 780px;
  border-radius: 60px;
  position: relative;
  padding-left: 20px;
  font-size: 25px;
  justify-content: flex-start;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.first-skill {
  height: 6rem;
  border-radius: 6px;
  background: linear-gradient(to right, hsl(0, 0%, 96%), #cfc9d1);
  color: #030303;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  border-radius: 200px;
  position: absolute;
  right: -4px;
  top: 0px;
  font-weight: 600;
}
.second-skill-percent {
  height: 6rem;
  border-radius: 6px;
  color: #fff;
  display: flex;
  align-items: center;
  width: 780px;
  border-radius: 60px;
  position: relative;
  background: #fc4a1a;
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
  background: linear-gradient(to right, #f7b733, #fc4a1a);
  padding-left: 20px;
  font-size: 25px;
  justify-content: flex-start;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.second-skill {
  height: 6rem;
  border-radius: 6px;
  background: linear-gradient(to right, #f4f4f4, #cfc9d1);
  color: #030303;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  width: 180px;
  border-radius: 200px;
  position: absolute;
  right: -4px;
  top: 0px;
  font-weight: 600;
}
.third-skill-percent {
  height: 6rem;
  border-radius: 6px;
  color: #fff;
  display: flex;
  align-items: center;
  width: 780px;
  border-radius: 60px;
  position: relative;
  background: #36d1dc;
  background: -webkit-linear-gradient(to right, #5b86e5, #36d1dc);
  background: linear-gradient(to right, #5b86e5, #36d1dc);
  padding-left: 20px;
  font-size: 25px;
  justify-content: flex-start;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.third-skill {
  height: 6rem;
  border-radius: 6px;
  background: linear-gradient(to right, #f4f4f4, #cfc9d1);
  color: #030303;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  width: 180px;
  border-radius: 200px;
  position: absolute;
  right: -4px;
  top: 0px;
  font-weight: 600;
}
.fourth-skill-percent {
  height: 6rem;
  border-radius: 6px;
  color: #fff;
  display: flex;
  align-items: center;
  width: 780px;
  border-radius: 60px;
  position: relative;
  background: #52c234;
  background: -webkit-linear-gradient(to right, #061700, #52c234);
  background: linear-gradient(to right, #061700, #52c234);
  padding-left: 20px;
  font-size: 25px;
  justify-content: flex-start;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.fourth-skill {
  height: 6rem;
  border-radius: 6px;
  background: linear-gradient(to right, #f4f4f4, #cfc9d1);
  color: #030303;
  color: #fff;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  width: 180px;
  border-radius: 200px;
  position: absolute;
  right: -4px;
  top: 0px;
  font-weight: 600;
}
.fifth-skill-percent {
  height: 6rem;
  border-radius: 6px;
  color: #fff;
  display: flex;
  align-items: center;
  width: 780px;
  border-radius: 60px;
  position: relative;
  background: #ee9ca7;
  background: linear-gradient(to right, #d0949b, #ee9ca7);
  padding-left: 20px;
  font-size: 25px;
  justify-content: flex-start;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.fifth-skill {
  height: 6rem;
  border-radius: 6px;
  background: linear-gradient(to right, #f4f4f4, #cfc9d1);
  color: #030303;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  width: 180px;
  border-radius: 200px;
  position: absolute;
  right: -4px;
  top: 0px;
  font-weight: 600;
}

.six-skill-percent {
  height: 6rem;
  border-radius: 6px;
  color: #fff;
  display: flex;
  align-items: center;
  width: 780px;
  border-radius: 60px;
  position: relative;
  background: #9cecfb;
  background: -webkit-linear-gradient(to right, #0052d4, #65c7f7, #9cecfb);
  background: linear-gradient(to right, #0052d4, #65c7f7, #9cecfb);
  padding-left: 20px;
  font-size: 25px;
  justify-content: flex-start;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.six-skill {
  height: 6rem;
  border-radius: 6px;
  background: linear-gradient(to right, #f4f4f4, #cfc9d1);
  color: #030303;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 173px;
  justify-content: center;
  width: 180px;
  border-radius: 200px;
  position: absolute;
  right: -4px;
  top: 0px;
  font-weight: 600;
}

.seven-skill-percent {
  height: 6rem;
  border-radius: 6px;
  color: #fff;
  display: flex;
  align-items: center;
  width: 780px;
  border-radius: 60px;
  position: relative;
  background: -webkit-linear-gradient(to right, #3a6073, #16222a);
  background: linear-gradient(to right, #3a6073, #16222a);
  padding-left: 20px;
  font-size: 25px;
  justify-content: flex-start;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.seven-skill {
  height: 6rem;
  border-radius: 6px;
  background: linear-gradient(to right, #f4f4f4, #cfc9d1);
  color: #030303;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  width: 180px;
  border-radius: 200px;
  position: absolute;
  right: -4px;
  top: 0px;
  font-weight: 600;
}

.eight-skill-percent {
  height: 6rem;
  border-radius: 6px;
  color: #fff;
  display: flex;
  align-items: center;
  width: 780px;
  border-radius: 60px;
  position: relative;
  background: -webkit-linear-gradient(to right, #799f0c, #ffe000);
  background: linear-gradient(to right, #799f0c, #ffe000);
  padding-left: 20px;
  font-size: 25px;
  justify-content: flex-start;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.eight-skill {
  height: 6rem;
  border-radius: 6px;
  background: linear-gradient(to right, #f4f4f4, #cfc9d1);
  color: #030303;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  width: 180px;
  border-radius: 200px;
  position: absolute;
  right: -4px;
  top: 0px;
  font-weight: 600;
}

.nine-skill-percent {
  height: 6rem;
  border-radius: 6px;
  color: #fff;
  display: flex;
  align-items: center;
  width: 780px;
  border-radius: 60px;
  position: relative;
  background: #5f2c82;
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
  background: linear-gradient(to right, #49a09d, #5f2c82);
  padding-left: 20px;
  font-size: 25px;
  justify-content: flex-start;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.nine-skill {
  height: 6rem;
  border-radius: 6px;
  background: linear-gradient(to right, #f4f4f4, #cfc9d1);
  color: #030303;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 173px;
  justify-content: center;
  width: 180px;
  border-radius: 200px;
  position: absolute;
  right: -4px;
  top: 0px;
  font-weight: 600;
}

.ten-skill-percent {
  height: 6rem;
  border-radius: 6px;
  color: #fff;
  display: flex;
  align-items: center;
  width: 780px;
  border-radius: 60px;
  position: relative;
  background: #649173;
  background: -webkit-linear-gradient(to right, #dbd5a4, #649173);
  background: linear-gradient(to right, #dbd5a4, #649173);
  padding-left: 20px;
  font-size: 25px;
  justify-content: flex-start;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.ten-skill {
  height: 6rem;
  border-radius: 6px;
  background: linear-gradient(to right, #f4f4f4, #cfc9d1);
  color: #030303;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 173px;
  justify-content: center;
  width: 180px;
  border-radius: 200px;
  position: absolute;
  right: -4px;
  top: 0px;
  font-weight: 600;
}

span.iq-center {
  display: flex;
  justify-content: center;
  font-weight: 600;
}
tr.tableresult-data {
  font-size: 16px;
  height: 40px;
}
/* add new latest-css end */
/* A4-css */

page[size='A4'] {
  width: 21cm;
  height: 900mn;
}

@media print {
  html body {
    width: 320mm;
    height: 900mn;
  }
  .logo-text {
    padding-top: 4rem;
  }
  .fixed {
    margin-top: 17rem;
  }
  .big-img {
    width: 314mm;
    height: 100%;
  }
  .second-img {
    width: 350mm;
    height: 149.9vh;
  }
  .third-img {
    width: 320mm;
    height: 149.9vh;
  }

  .fixed {
    height: 100vh;
    justify-content: flex-end;
  }
  .top-heading {
    font-size: 40px;
  }

  .bg-img {
    width: 310mm;
    height: 1200mn;
  }
  .text-absolute {
    position: absolute;
    top: 0rem;
    width: 100%;
  }
  .text-space {
    font-size: 22px;
  }
  .strength-next {
    margin-top: 2rem;
  }
  .first-skill-percent {
    height: 5rem;
    position: relative;
  }
  .first-skill {
    height: 5rem;
    position: absolute;
    right: -4px;
    top: 0px;
  }

  .second-skill-percent {
    height: 5rem;
    position: relative;
  }
  .second-skill {
    height: 5rem;
    position: absolute;
    right: -4px;
    top: 0px;
  }
  .third-skill-percent {
    height: 5rem;
    position: relative;
  }
  .third-skill {
    height: 5rem;
    position: absolute;
    right: -4px;
    top: 0px;
  }
  .fourth-skill-percent {
    height: 5rem;
    position: relative;
  }
  .fourth-skill {
    height: 5rem;
    position: absolute;
    right: -4px;
    top: 0px;
  }
  .fifth-skill-percent {
    height: 5rem;
    position: relative;
  }
  .fifth-skill {
    height: 5rem;
    position: absolute;
    right: -4px;
    top: 0px;
  }
  .six-skill-percent {
    height: 5rem;
    position: relative;
  }
  .six-skill {
    height: 5rem;
    position: absolute;
    right: -4px;
    top: 0px;
  }
  .seven-skill-percent {
    height: 5rem;
    position: relative;
  }
  .seven-skill {
    height: 5rem;
    position: absolute;
    right: -4px;
    top: 0px;
  }
  .seven-skill {
    height: 5rem;
    font-size: 22px;
  }
  .eight-skill-percent {
    height: 5rem;
    position: relative;
  }
  .eight-skill {
    height: 5rem;
    position: absolute;
    right: -4px;
    top: 0px;
  }
  .nine-skill-percent {
    height: 5rem;
    position: relative;
  }
  .nine-skill {
    height: 5rem;
    position: absolute;
    right: -4px;
    top: 0px;
  }
  .ten-skill-percent {
    height: 5rem;
    position: relative;
  }
  .pdf-width td {
    border: 1px solid #ddd;
    padding: 0.55rem;
    color: #000;
    width: 45px;
  }
  .top-space {
    margin-top: 3rem;
  }
  .top-space-sec {
    margin-top: 7rem;
  }
  .ten-skill {
    height: 5rem;
    position: absolute;
    right: -4px;
    top: 0px;
  }
  .sign-heading {
    margin-top: 4rem;
  }
  .margin-text {
    font-size: 25px;
  }
  .detail-text {
    font-size: 25px;
  }
  .strength-top {
    margin-left: 50px;
  }
  .strength-next {
    margin-left: 50px;
  }
  tr.tableresult-data {
    font-size: 12px;
    height: 40px;
  }
  .margin-pdf {
    margin-top: 1rem;
  }
  .pdf-table td {
    padding: 0.25rem;
  }
}
.pdf-scroll {
  cursor: pointer;
  padding-top: 10px;
  height: calc(100vh - 94px) !important;
}

.printto-pdf {
  position: fixed;
  top: 83px;
  right: 12px;
  z-index: 9;
}
.edit-style {
  padding: 18px 11px;
}
.preview {
  margin-top: 33px;
}
.pdf-btn {
  display: flex;
  gap: 15px;
  margin-left: 8px;
  position: fixed;
  z-index: 9;
}
.print-pdf {
  margin-right: 10px;
  background-color: var(--blue100);
  padding: 0.375rem 0.75rem;
  font-weight: 500;
  color: white;
  height: 40px;
  font-size: 14px;
  border-radius: 60px;
  float: right;
}
.dynamic {
  display: grid;
  grid-template-columns: auto auto;
}
.learning-margin {
  margin-top: 1100px;
}

/* pdf end */

.preview-doc {
  border: 1px solid #d1c5c5;
  padding: 5px 1px 12px 12px;
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  overflow-y: scroll;
  height: 800px;
  cursor: pointer;
}
.text-size {
  font-size: 20px;
  font-weight: 500;
}
.doc-heading {
  font-size: 25px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.label-style {
  font-size: 14px;
  color: var(--black200);
  font-weight: 600;
  padding: 5px 1px;
}
.table-scroll-franchisee {
  overflow-y: scroll;
  height: calc(100vh - 308px) !important;
  border: 1px solid var(--gray300);
  cursor: pointer;
}
.franchisee-scroll {
  cursor: pointer;
  overflow-y: scroll;
  height: calc(100vh - 112px) !important;
  overflow-x: hidden;
}
.franchisee-scroll-bread {
  cursor: pointer;
  overflow-y: scroll;
  height: calc(100vh - 216px) !important;
  overflow-x: hidden;
}
.table-scroll-subfranchisee {
  overflow-y: scroll;
  height: calc(100vh - 323px) !important;
  border: 1px solid var(--gray300);
  cursor: pointer;
}
.franchisee-breadcrumb {
  padding-left: 0px;
  display: flex;
  margin-bottom: 10px;
  font-size: 25px;
  cursor: pointer;
}
.franchisee-title {
  align-items: center;
  display: flex;
  gap: 10px;
}
.franchisee-back-img {
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 12px;
}

.user-detail {
  font-weight: bold;
  border-bottom: 1px solid #dbd4d4;
  font-size: 15px;
}
.text-to-speech {
  height: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: -145px;
  width: 100%;
}
.tab-scroll-table {
  cursor: pointer;
  overflow-y: scroll;
  height: calc(100vh - 220px) !important;
  border: 1px solid #ede9e9;
  overflow-x: hidden;
  padding-bottom: 0rem;
}

.formula-refresh {
  display: flex;
  justify-content: space-between;
}

.fixed-instruction {
  position: fixed;
}
