
.form-style {
  display: flex;
  align-items: center;
  gap: 10px;
}
.flex-style {
  flex-grow: 1;
  width: 100%;
}

.btn-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-tab {
  margin: 22px 0px;
  justify-content: center;
}

.sub-tab {
  justify-content: center;
  margin-bottom: 20px;
}
.load-edit {
  display: flex;
  justify-content: flex-end;
}
.label-style {
  font-size: 14px;
  color: var(--black200);
  font-weight: 600;
  padding: 5px 0px;
}
/* .flex-input {
  display: flex;
  justify-content: space-between;
  gap: 10px;
} */
.flex-fields {
  display: flex;
  align-items: center;
  gap: 12px;
}
.flex-radio {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid #ced3da;
  padding: 20px 13px;
  border-radius: 6px;
}
.field-size {
  width: 100% !important;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 12px;
}
.plus-bottom {
  margin-bottom: 4px;
}
.text-radio {
  color: #878787;
}
.background-option {
  width: 100%;
  background: #edeff7;
  padding: 10px;
  border-radius: 6px;
}
.save-close {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.custom-control-1 {
  background-color: #ffffff00;
  border: 0px solid;
}
.custom-control-1 .select__control.css-1s2u09g-control {
  background-color: #ffffff00 !important;
  border: 0px solid;
}

/* .view-icon {
  justify-content: center;
} */

.test {
  color: #006d84;
  font-weight: 500;
  padding: 1px 10px 12px 0px;
}
.test-back {
  color: #006d84;
  font-weight: 500;
  padding: 1px 27px 8px 27px;
}

.save {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}
.add-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
.back-img {
  font-size: 20px;
  cursor: pointer;
}
.form-field {
  padding: 0px 27px;
}
.plus {
  display: flex;
  justify-content: flex-end;
}
.flex-icon-1 {
  display: flex;
  gap: 21px;
  /* padding-bottom: 10px;  */
}
.remove {
  display: flex;
  gap: 5px;
  width: 65px;
  justify-content: flex-end;
  align-items: center;
}
.removeoption-icon {
  display: flex;
  background: var(--red100);
  border-radius: 4px;
  color: var(--white100);
  cursor: pointer;
  height: 37px;
  width: 37px;
  /* align-items: center;
  justify-content: center; */
  width: 34px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.field-flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.icon-style {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}
.icon-writting {
  display: flex;
  justify-content: flex-end;
}

.addoption-icon {
  display: flex;
  background: var(--blue100);
  border-radius: 4px;
  color: var(--white100);
  cursor: pointer;
  height: 37px;
  width: 37px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.add-plusicon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-option {
  display: flex;
  justify-content: start;
  align-items: flex-end;
  padding-top: 3px;
}
.passage-field {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.word-count {
  font-weight: 600;
}
.option-flex {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
}
.add-pluess {
  margin-bottom: 5px;
}

.avatar-upload {
  position: relative;
  display: flex;
  justify-content: center;
}
.avatar-upload .avatar-edit {
  position: absolute;
  z-index: 1;
  top: 12px;
  width: 117px;
}
.img-uploads {
  display: flex;
  justify-content: center;
}
/* .avatar-upload {
  display: flex;
  justify-content: center;
} */
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-upload .avatar-preview {
  width: 100%;
  height: 155px;
  position: relative;
  /* border-radius: 100%; */
  border: 6px solid #e1e1e1;
  box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 10%);
  border-radius: 6px;
}
.avatar-upload .avatar-preview > img {
  width: 100%;
  height: 100%;
  /* border-radius: 100%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.video-upload {
  border: 2px solid #e1e1e1;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 10px;
  position: relative;
}
.audio-upload {
  border: 2px solid #e1e1e1;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  height: 225px;
  position: relative;
}
/* .upload-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
} */
.edit-video {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  position: absolute;
  top: -25px;
  right: -14px;
}
.remove-xmark {
  background: #edeff7;
  display: flex;
  justify-content: center;
  width: 50px;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  height: 50px;
  font-size: 25px;
}
input#imageUpload {
  display: none;
}
/* video {
  width: 100% !important;
  height: 115px !important;
} */
.relative-style {
  position: relative;
  border: 6px solid #e1e1e1;

  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-wrap {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  flex-wrap: wrap;
  padding: 15px;
}
.absolute-style {
  list-style: none;
  padding: 0px;
}
.plus-style {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.absolute-plus {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  top: 38px;
  width: 139px;
  height: 67px;
  cursor: pointer;
}
.absolute-plusssss {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  top: 38px;
  width: 48px;
  height: 46px;
  cursor: pointer;
  right: -4px;
}
.cursor-pointer {
  cursor: pointer;
}
.remove-cancel {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: red; */
}
.icon-cancel {
  background-color: #ecf0f7;
  padding: 8px 12px;
  border-radius: 20px;
  position: absolute;
}
.remove-top {
  position: relative;
}
.top-absolute {
  position: absolute;
  top: -6px;
  right: 20px;
}
